@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,700italic");

$font:'Open Sans', sans-serif;
$header-fontweight: 700;
$header-color: #585858;

$subheader-color: #6E6E6E;

$offer-bgcolor: #33cc99;
$offer-color: white;
$offer-margin: 20px;
$offer-padding: 10px;
