@media only screen and (min-width: 992px) {

.offers {
margin: 0 auto;
width: 80%;
}

h1 {
font-family: $font;
font-weight: $header-fontweight;
font-size: 1.9em;
color: $header-color;
}

h3 {
font-family: $font;
font-weight: $header-fontweight;
font-size: 1.5em;
color: $subheader-color;
}

.offer {
background-color: $offer-bgcolor;
color: $offer-color;
margin-bottom: $offer-margin;
padding: $offer-padding;
}

.extend {
display:none;
}

}

